    {{>header}}
            <div class="align-self-center w-100 h-auto p-5 mt-5">
            <form action="http://www.onboardingbelen.local/tours/".$_POST['selectedChannel'] name="channelsForm" method="post">
            <select onChange="channelsForm.submit()" name="selectedChannel" class="form-select" aria-label="Default select example">
            <option selected>Select a channel</option>
               {{#channel}}
                    <option value='{{channel_id}}'>{{channel_name}}</option>
                {{/channel}}
            </select>
            </form>
            </div>
    {{>footer}}