    {{>header}}
            <div class="align-self-center w-100 h-auto p-5 mt-5">
            <form action="/" name="channelsForm" method="post">
            <select onChange="channelsForm.submit()" name="selectedChannel" class="form-select" aria-label="Default select example">
            <option selected>Select a channel</option>
               {{#channel}}
                    <option value='{{channel_id}}'>{{channel_name}}</option>
                {{/channel}}
            </select>
            </form>
            <div class="align-self-center d-flex flex-wrap flex-row w-100 mt-5 " style="width: 18rem;">
            {{#tour}}
                <div class="align-self-center mt-5 card " style="width: 18rem; flex: 27%; margin-left: 2%; margin-right:2%">
                    <img class="card-img-top " src='{{thumbnail_image}}' alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{{tour_name}}</h5>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            {{/tour}}
            </div>
            </div>
    {{>footer}}