    {{>header}}
        {{#tour}}
            <div class="align-self-center w-80 h-auto p-5 mt-4  bg-light rounded-3 shadow-lg">
                <div class="container mt-5">
                    <div class="row">
                        <div class="col-md-6 mb-4">
                            <img src="{{#images.image.url}}{{images.image.url}}{{/images.image.url}}{{^images.image.url}}{{images.0.image.url}}{{/images.image.url}}" alt="{{images.image.image_desc}}" class="img-fluid rounded mb-3 product-image" id="mainImage">
                        </div>
                        <div class="col-md-6">
                            <h2 class="mb-3">{{tour_name}}</h2>
                            <div class="overflow-scroll">
                                <p class="text-muted mb-4">From: {{from_price}} {{sale_currency}}</p>
                                <p class="mb-4">{{shortdesc}}</p>
                                <p class="mb-4">{{rest}}</p>
                            </div>
                            <button class="w-25 align-self-center p-3 btn btn-primary"  type="submit" >
                                <i class="bi bi-heart"></i> Book
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        {{/tour}}
    {{>footer}}